asgiref==3.8.1
attrs==23.2.0
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
Django==4.2.14
flatbuffers==24.3.25
idna==3.7
iniconfig==2.0.0
openmeteo_sdk==1.11.11
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
pytest==8.3.1
pytest-django==4.8.0
python-dotenv==1.0.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
url-normalize==1.4.3
urllib3==2.2.2
