<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<script>
    function fillCity(city) {
        document.querySelector('[name="city"]').value = city;
    }

    $(document).ready(function() {
        $("#city").autocomplete({
            source: "{% url 'forecast:autocomplete' %}",
            minLength: 2  // Минимальная длина текста для показа подсказок
        });
    });
</script>