{% load static %}

<style>
    table th, table td {
        padding: 0.25rem !important; /* Уменьшает отступы внутри ячеек */
    }
</style>


<h4><b>Прогноз на 10 дней</b></h4>
<div class="container">
    <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Дата</th>
                    <th>Макс. t° (°C)</th>
                    <th>Мин. t° (°C)</th>
                    <th>Осадки (мм)</th>
                    <th>Ветер (макс., м/с)</th>
                </tr>
            </thead>
            <tbody>
                {% for date, max_temp, min_temp, precip, windspeed in daily_forecast %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ max_temp }}</td>
                    <td>{{ min_temp }}</td>
                    <td>{{ precip }}</td>
                    <td>{{ windspeed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>