{% block header_content %}

    <button id="theme-toggle-btn"></button>

    <style>
        .weather-icon {
            font-size: 35px;
            display: inline;
        }

        .header-container {
            text-align: center;
            margin-top: 20px;
        }

        #theme-toggle-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000;
            font-size: 1.5em;
            background: none; /* Удаляем фон кнопки */
            border: none; /* Удаляем рамку кнопки */
        }
    </style>

    <div class="header-container">
        <a class="navbar-brand navbar-brand-large" href="{% url 'forecast:index' %}" style="text-decoration: none; color: inherit;">
            <span class="weather-icon">☀️🌨️🌦️</span>
        </a>
    </div>

{% endblock %}