{% block header_content %}

    <style>
        .weather-icon {
            font-size: 80px;
            display: inline;
        }

        .header-container {
            text-align: center;
            margin-top: 60px;
        }
    </style>

    <div class="header-container">
        <a class="navbar-brand navbar-brand-large" href="{% url 'forecast:index' %}" style="text-decoration: none; color: inherit;">
            <span class="weather-icon">☀️🌦️🌨️</span>
        </a>
    </div>

{% endblock %}