{% load static %}

<style>
    table th, table td {
        padding: 0.25rem !important; /* Уменьшает отступы внутри ячеек */
    }

        .weather-emoji {
        font-size: 24px; /* Увеличивает размер шрифта для эмодзи */
    }
</style>


<h4><b>Прогноз на 10 часов</b></h4>
<div class="container">
    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th><span class="weather-emoji">🕓</span></th>
                    <th><span class="weather-emoji">🌡</span>(°C)</th>
                    <th><span class="weather-emoji">🪁</span>(м/с)</th>
                    <th><span class="weather-emoji">☔</span>(мм)</th>
                    <th><span class="weather-emoji">💧</span>(%)</th>
                </tr>
            </thead>
            <tbody>
                {% for time, temp, windspeed, precip, humid in hourly_forecast %}
                <tr>
                    <td>{{ time }}</td>
                    <td>{{ temp }}</td>
                    <td>{{ windspeed }}</td>
                    <td>{{ precip }}</td>
                    <td>{{ humid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>