{% load static %}

<style>
    table th, table td {
        padding: 0.25rem !important; /* Уменьшает отступы внутри ячеек */
    }
</style>


<h4><b>Прогноз на 10 часов</b></h4>
<div class="container">
    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Время</th>
                    <th>Температура (°C)</th>
                    <th>Скорость ветра (км/ч)</th>
                    <th>Осадки (мм)</th>
                </tr>
            </thead>
            <tbody>
                {% for time, temp, windspeed, precip in hourly_forecast %}
                <tr>
                    <td>{{ time }}</td>
                    <td>{{ temp }}</td>
                    <td>{{ windspeed }}</td>
                    <td>{{ precip }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>