{% extends 'base.html' %}

{% block content %}

        {% if forecast %}
            {% include 'includes/current_weather.html' %}
        {% else %}
            <br><p>🤷 Нет данных о погоде для "{{ city }}".</p>
        {% endif %}

        {% if hourly_forecast %}
            {% include 'includes/hourly_forecast.html' %}
        {% endif %}

        {% if daily_forecast %}
            {% include 'includes/daily_forecast.html' %}
        {% endif %}

        <div style="margin-top: 20px; margin-bottom: 100px">
            <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'forecast:index' %}'">Новый прогноз</button>
        </div>

{% endblock %}